/* MEDIA FOR TABLET VIEW */

@media all and (min-width:768px) {
    
    /* WIDTH OF CARDS */
    #big-blue{
        width: 65%;
    }

    /* Settings for Phone immage */
    .card:first-child img{
        width: 50%;
    }

    .card{
        width: 30%;
    }

    .card.viol{
        width: 100%;
        text-align: left;
        /* flex */
        display: flex;
        justify-content: space-between;
    }

    /* GENERAL CONTAINER */
    .container{
        width: 90%;
        margin: 0 auto;
    }

    /* FLEX FOR CONTAINER */
    .blue-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    

    /* White card sizeing */
    .blue-flex .card.wht{
        width: 45%;
    }

    .container.left h3{
        font-size: 60px;
    }

    /* IMMAGE AND CARD SETTINGS UNDER [STRATEGIC PLANNING] */
    .card.wht.tx-middle{
        width: 100%;
    }
    /* titol */
    .card.wht.tx-middle h3{
        font-size: 20px;
    }


    /* SECTION        ABOUT  US    ------    */

    /* FLEX FOR ABOUT US */
    .about-flex{
        display: flex;
        justify-content: space-between;
    }

    /* ABOUT US SETTINGS */
    .media-vw{
        width: 45%;
        margin-top: 5%;
    }

    /* h1 in MEDIA-VW TITOL ABOUT US */
    .media-vw h1{
        color: #9792E4;
    }

    /* h3 in MEDIA-VW LEFT SIZING */
    .media-vw h3{
        font-size: 25px;
    }

    .media-vw img,h3,button{
        margin-left: 20%;
    }    

    /* About us TITOL */
    .about-flex:first-child h1{
        font-size: 40px;
    }
}









/* MEDIA FOR DESKTOP VIEW*/
@media all and (min-width:1024px) {
    .container{
        width: 80%;
    }
}